body {
    background-color: lightblue;
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Harry_Potter_wordmark.svg/800px-Harry_Potter_wordmark.svg.png');*/
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }